.footer{
    max-width: 2615px;
    height: 110px;
    margin: 0 auto;
    padding: 0 16px;
    overflow: hidden;
    background-color: #000;

    .ul__collection{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        a{
            font-size: 12px;
            font-family: "Dm sans";
            font-weight: 400;
        }
    }
}
.logo{
    display: flex;
    max-width: 366px;
    height: 78px;
    text-align: center;
    justify-items: center;

    img{
        width: 171px;
        height: 40px;


    }
    pre{
        color: #fff;
        font-size: 12px;
        position: relative;
        top: 15px;
        left: 30px;
        font-family: "Dm sans";
        font-weight: 400;
    }
}
