*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@import "reset";



@import "header";
@import "hero";
@import "javas";
@import "about";
@import "sign";
@import "footer";


@import "media";




